lib/
obj/
node_modules/
coverage/
docs/api_guide_*
docs/datasheet*
*.out
*.out*
*.profdata
*.map
*.zip
*.rprc
*.rprc_tmp
*.tmp
*.swp
*.rprc_xip
*.appimage
*.appimage_xip
*.appimage_qspi
*.appimage.signed
*.appimage.hs
*.appimage.hs_fs
*.appimage_qspi.hs
*.bin
*.tiimage
*.tiimage.hs
*-fw
*.vscode/
*.vscode-ctags
temp_stdout_*.txt
ccs_projects/
generated/
source/industrial_comms/ethercat_slave/beckhoff_stack/stack_sources/*.c
source/industrial_comms/ethercat_slave/beckhoff_stack/stack_sources/*.h
source/industrial_comms/ethercat_slave/beckhoff_stack/stack_sources/*.dll
source/industrial_comms/ethercat_slave/beckhoff_stack/stack_sources/*.lib
source/industrial_comms/ethercat_slave/beckhoff_stack/stack_sources/*.rej
source/industrial_comms/ethercat_slave/beckhoff_stack/stack_sources/*.orig
source/industrial_comms/ethercat_slave/beckhoff_stack/stack_sources/*.sh
source/industrial_comms/ethercat_slave/stack/patch/SlaveFiles/*.c
source/industrial_comms/ethercat_slave/stack/patch/SlaveFiles/*.h
source/industrial_comms/ethercat_slave/stack/patch/SlaveFiles/*.dll
source/industrial_comms/ethercat_slave/stack/patch/SlaveFiles/*.lib
source/industrial_comms/ethercat_slave/stack/patch/SlaveFiles/src/*.c
source/industrial_comms/ethercat_slave/stack/patch/SlaveFiles/src/*.h
source/industrial_comms/ethercat_slave/stack/patch/SlaveFiles/src/*.dll
source/industrial_comms/ethercat_slave/stack/patch/SlaveFiles/src/*.lib
mcusdk_tagfile
__pycache__/
!*boardcfg_*.bin
!tools/flasher/prebuilt/am*.out
mcu_plus_sdk
