
# The PROJECT_NAME tag is a single word (or a sequence of words surrounded by
# double-quotes, unless you are using Doxywizard) that should identify the
# project for which the documentation is generated. This name is used in the
# title of most generated pages and in a few other places.
# The default value is: My Project.

PROJECT_NAME           = "AM261x INDUSTRIAL COMMUNICATIONS SDK"

INPUT += $(INDUSTRIAL_COMMUNICATIONS_SDK_PATH)/docs_src/docs/api_guide/device/$(DEVICE)/main_page.md
INPUT += $(INDUSTRIAL_COMMUNICATIONS_SDK_PATH)/docs_src/docs/api_guide/device/$(DEVICE)/release_notes.md

@INCLUDE = $(INDUSTRIAL_COMMUNICATIONS_SDK_PATH)/docs_src/docs/api_guide/device/$(DEVICE)/examples.cfg
#@INCLUDE = $(INDUSTRIAL_COMMUNICATIONS_SDK_PATH)/docs_src/docs/api_guide/device/$(DEVICE)/release_notes.cfg
@INCLUDE = $(INDUSTRIAL_COMMUNICATIONS_SDK_PATH)/docs_src/docs/api_guide/components/industrial_comms/industrial_comms_am261x.cfg

# Used to selectively pick DEVICE specific sections within .md files
ENABLED_SECTIONS = SOC_AM261X

# SOC specific aliases
ALIASES+=VAR_SOC_NAME="AM261X"
ALIASES+=VAR_SOC_NAME_LOWER="am261x"
ALIASES+=VAR_BOARD_NAME="AM261X-LP"
ALIASES+=VAR_BOARD_NAME_LOWER="am261x-lp"
ALIASES+=VAR_LP_BOARD_NAME="AM261X-LP"
ALIASES+=VAR_LP_BOARD_NAME_LOWER="am261x-lp"
ALIASES+=VAR_SOC_MANIFEST="ind_comms_sdk_am261x_manifest.html"
ALIASES+=VAR_MCU_SDK_DOCS_PATH="../../mcu_plus_sdk/docs/api_guide_am261x"